@import "tailwindcss";

/* Card flip styles */
.card {
	perspective: 1000px;
}

.card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.card-inner.is-flipped {
	transform: rotateY(180deg);
}

.card-face {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 0.5rem; /* match rounded-2xl */
}

.card-front {
	background: white;
}

.card-back {
	transform: rotateY(180deg);
}
